# sample pop3 configuration file
# port: portnumber on which server will be listening for connections
port=9999
# top: top directory
top=/exports/home/wvrossem/pop3/maildrops/
# logfile: where log messages are written to
logfile=pop3.log
# timeout is in seconds
timeout=2000
# mininum debug level: only if the global debug level is larger than
# this one will output be generated
debuglevel=0
